@use "assets/css/index.scss";

.watch-page-container {
  display: flex;
  padding-bottom: 98px;

  @include index.mobile {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 92px;
  }
  @include index.desktop {
    padding-top: 126px;
  }

  .main-container {
    width: 100%;
    margin-right: 28px;

    .video-container {
      position: relative;
      @include index.mobile {
      }
      @include index.desktop {
        margin-bottom: 20px;
      }

      &:hover .video-graph-container {
        opacity: 1;
      }

      .video-graph-container {
        position: absolute;
        bottom: 50px;
        width: 100%;
        height: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: index.$gray-900;
        background: index.$system-dim-black;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
      }
    }

    .video-information-container {
      display: flex;
      justify-content: space-between;

      @include index.mobile {
        padding: 20px 16px 20px 16px;
      }
      @include index.desktop {
      }

      .title {
        color: index.$gray-900;
        word-break: keep-all;
        @include index.mobile {
          white-space: nowrap;
          overflow: hidden;
          max-width: calc(100vw - 112px);
          height: 24px;
          text-overflow: ellipsis;
        }
        @include index.desktop {
          margin-bottom: 60px;
        }
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include index.mobile {
          width: 80px;
          flex-direction: column;
        }
        @include index.desktop {
          width: 180px;
          height: 32px;
          flex-wrap: wrap;
        }

        .video-hits-text {
          color: index.$gray-700;

          @include index.mobile {
            margin-top: 8px;
          }
          @include index.desktop {
            margin-left: 16px;
          }
        }
      }
    }

    @include index.mobile {
      .video-fixed-container {
        position: fixed;
        background: index.$bg;
        width: 100vw;
        left: 0;
        top: 44px;
        z-index: 1000;
      }

      .watch-page-cam-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(100vw * (9 / 16) + 60px);
        padding-top: 32px;
        padding-bottom: 32px;

        .emotion-container {
          display: flex;
          width: 100%;
          flex-direction: column;
          margin-bottom: 48px;

          .emotion-title-wrapper {
            display: flex;

            .emotion-title {
              color: index.$gray-900;
              margin-right: 8px;
            }
          }

          .graph-container {
            height: 12px;
            border-radius: 2px;
            margin-top: 22px;

            .graph-tooltip-container {
              width: 80px;
              height: 50px;
              background: index.$gray-700;
            }
          }

          .graph-detail-container {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;
          }
          .graph-detail-item {
            justify-content: center;
            align-items: center;
          }
        }
        .emotion-container:last-child {
          margin-bottom: 32px;
        }

        .others-emotion-container {
          margin-bottom: 60px;

          .others-emotion-title-wrapper {
            display: flex;

            .others-emotion-title {
              color: index.$gray-900;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .comment-container {
      @include index.mobile {
        padding-top: 24px;
        padding-bottom: 24px;
      }
      .comment-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 44px;

        .comment-input {
          margin-left: 12px;
        }
      }

      .comment-info-text {
        color: index.$gray-900;
        margin-bottom: 32px;
      }

      .comment-list-container {
        .comment-modifying-container {
          display: flex;
          margin-bottom: 24px;

          .comment-modifying-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;

            .comment-modifying-info-wrapper {
              display: flex;
              margin-bottom: 4px;

              .comment-modifying-nickname {
                color: index.$gray-500;
                margin-right: 4px;
              }
              .comment-modifying-time-text {
                color: index.$gray-300;
              }
            }

            .comment-modifying-button-wrapper {
              display: flex;
              justify-content: flex-end;

              .comment-modifying-cancel {
                color: index.$gray-500;
                cursor: pointer;
                &:hover {
                  color: index.$gray-900;
                }
              }

              .comment-modifying-save {
                color: index.$gray-500;
                margin-left: 16px;
                &:hover {
                  cursor: pointer;
                  color: index.$gray-900;
                }
              }
            }
          }
        }
        .comment-item-container {
          display: flex;
          align-items: flex-start;
          margin-bottom: 24px;
          cursor: pointer;
          .comment-right-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .comment-text-wrapper {
              .comment-info-wrapper {
                display: flex;
                margin-bottom: 4px;

                .comment-nickname {
                  color: index.$gray-500;
                  margin-right: 4px;
                }

                .comment-time-text {
                  color: index.$gray-300;
                }
              }
            }

            .comment-text {
              color: index.$gray-900;
              word-break: keep-all;
            }

            .comment-icon-container {
              display: relative;
              .comment-edit-container {
                display: none;
                flex-direction: column;
                width: 126px;
                height: 80px;
                margin-top: -12px;
                margin-left: 12px;
                position: absolute;
                margin-left: 12px;
                background: index.$gray-50;
                border-radius: 8px;
                z-index: 997;

                &.visible {
                  display: flex;
                }

                .comment-modify-text {
                  position: relative;
                  height: 40px;
                  padding: 12px 16px 12px 16px;
                  border-bottom: index.$gray-100 solid 1px;
                  .comment-modify-dim {
                    display: none;
                    position: absolute;
                    background: #ffffff;
                    opacity: 10%;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px 8px 0px 0px;
                  }
                  &:hover .comment-modify-dim {
                    display: block;
                  }
                }
                .comment-delete-text {
                  position: relative;
                  height: 40px;
                  padding: 12px 16px 12px 16px;
                  .comment-delete-dim {
                    display: none;
                    position: absolute;
                    background: #ffffff;
                    opacity: 10%;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0px 0px 8px 8px;
                  }
                  &:hover .comment-delete-dim {
                    display: block;
                  }
                }
              }
            }
          }
        }

        .no-comments-text {
          color: index.$gray-600;
        }
      }
    }
  }

  .side-container {
    width: 320px;

    .emotion-container {
      margin-bottom: 48px;

      .emotion-title-wrapper {
        display: flex;

        .emotion-title {
          color: index.$gray-900;
          margin-right: 8px;
        }
      }

      .graph-container {
        height: 12px;
        border-radius: 2px;
        margin-top: 22px;

        .graph-tooltip-container {
          width: 80px;
          height: 50px;
          background: index.$gray-700;
        }
      }

      .graph-detail-container {
        display: flex;
        justify-content: space-between;
        margin-top: 22px;

        .graph-detail-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &.active .emotion-text,
          &.active .emotion-percentage {
            color: index.$primary-basic;
          }

          .emotion-text {
            color: index.$gray-800;
            margin: 6px 0 6px 0;
          }

          .emotion-percentage {
            color: index.$gray-800;
          }
        }
      }
    }

    .recommend-container {
      @include index.mobile {
        width: 100%;
      }
      .recommend-title {
        color: index.$gray-900;
        margin-bottom: 32px;
      }

      .recommend-video-container {
      }
    }
  }
}

.custom-tooltip {
  .custom-tooltip-text {
    color: index.$gray-900;
  }
}
