@use "styles/abstracts" as variables;

.button {
  position: relative;
  width: fit-content;
  color: variables.$gray-50;
  background: variables.$primary-basic;
  padding: 16px 20px 16px 20px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;

  .dim {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: variables.$state-04;
    width: 100%;
    height: 100%;
  }

  &:hover .dim {
    display: block;
  }

  &.disabled {
    background: variables.$gray-200 !important;
    cursor: not-allowed;

    &:hover .dim {
      display: none;
    }
  }

  &.cta-full {
    width: 100%;
  }

  &.cta-fit {
    padding: 18px 20px 18px 20px;

    &-secondary {
      background: variables.$gray-100;
      color: variables.$gray-900;

      &:hover {
        background: #2b2b35;
      }
    }
  }

  &.small {
    padding: 14px 20px 14px 20px;

    &-outline {
      padding: 14px 20px 14px 20px;
      background: transparent;
      color: variables.$gray-900;
      border: 1px solid variables.$gray-700;
    }
  }

  &.extra-small {
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
  }

  &.with-keyboard {
    width: 100%;
    border-radius: 0px;
  }

  &.cta-fixed {
    width: 100%;
    padding: 18px 20px 18px 20px;

    &-secondary {
      width: 100%;
      padding: 18px 20px 18px 20px;
      background: variables.$gray-100;
      color: variables.$gray-900;
    }
  }

  &.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: variables.$gray-200;

    .button-add-img {
      width: 20px;
      height: 20px;
    }
  }
}
