@use 'styles/abstracts' as variables;

.main-page-container {
  padding-bottom: 98px;

  @include variables.mobile {
    padding-top: 70px;
    padding-left: 16px;
  }
  @include variables.desktop {
    padding-top: 110px;
  }

  .title {
    color: variables.$gray-900;
  }

  .search-results-container {
    .video-container {
      margin-left: -20px;
      .video-wrapper {
        @include variables.desktop {
          width: 1300px;
        }
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
      }
    }
  }

  .subtitle {
    color: variables.$gray-400;
    margin-top: 12px;

    @include variables.mobile {
      margin-bottom: 40px;
    }
    @include variables.desktop {
      margin-bottom: 48px;
    }
  }

  .personal-recommend-contents-container {
    @include variables.mobile {
      width: 100%;
      margin-bottom: 100px;
    }
    @include variables.desktop {
      width: calc(50vw + 600px);
      margin-bottom: 100px;
    }

    .main-page-video-container {
      display: flex;
      margin-left: -20px;
      overflow-x: auto;
      overflow-y: hidden;

      @include variables.mobile {
      }
      @include variables.desktop {
        height: 282px;
      }
    }

    .main-page-video-wrapper {
      height: 100%;
      display: flex;
      padding-left: 20px;
      padding-bottom: 20px;

      @include variables.mobile {
      }
      @include variables.desktop {
        padding-right: calc(50vw - 660px);
        padding-top: 16px;
      }
    }
    // -ms-overflow-style: none; /* 인터넷 익스플로러 */
    // scrollbar-width: none; /* 파이어폭스 */

    // .main-page-video-container::-webkit-scrollbar {
    //   display: none; /* 크롬, 사파리, 오페라, 엣지 */
    // }
  }

  .genre-contents-container {
    @include variables.mobile {
      width: 100%;
      margin-bottom: 100px;
    }
    @include variables.desktop {
      width: calc(50vw + 600px);
      margin-bottom: 100px;
    }

    .main-page-genre-video-container {
      display: flex;
      margin-left: -20px;
      overflow-x: auto;
      overflow-y: hidden;

      @include variables.mobile {
      }
      @include variables.desktop {
        height: 282px;
      }
    }

    .main-page-genre-video-wrapper {
      height: 100%;
      display: flex;
      padding-left: 20px;
      padding-bottom: 20px;

      @include variables.mobile {
      }
      @include variables.desktop {
        padding-right: calc(50vw - 660px);
        padding-top: 16px;
      }
    }
    // -ms-overflow-style: none; /* 인터넷 익스플로러 */
    // scrollbar-width: none; /* 파이어폭스 */

    // .main-page-video-container::-webkit-scrollbar {
    //   display: none; /* 크롬, 사파리, 오페라, 엣지 */
    // }
  }

  .hot-contents-container {
    .title {
      margin-bottom: 16px;
    }

    .video-container {
      margin-left: -20px;

      .main-page-chip-container {
        display: flex;
        width: 100%;
        overflow-x: auto;

        .chip-wrapper {
          display: flex;
          white-space: nowrap;
          padding-left: 20px;

          @include variables.mobile {
            padding-top: 24px;
            padding-bottom: 32px;
          }
          @include variables.desktop {
            padding-top: 16px;
            padding-bottom: 56px;
          }

          -ms-overflow-style: none; /* 인터넷 익스플로러 */
          scrollbar-width: none; /* 파이어폭스 */
        }
        .chip-wrapper::-webkit-scrollbar {
          display: none; /* 크롬, 사파리, 오페라, 엣지 */
        }
      }

      .video-wrapper {
        @include variables.desktop {
          width: 1300px;
        }
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
      }
    }
  }
}
