@use "styles/abstracts" as variables;

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
  padding-bottom: 98px;

  @include variables.mobile {
    margin-top: 64px;
  }
}

.logo-wrapper {
  margin-top: 84px;
  margin-bottom: 108px;

  @include variables.mobile {
    margin-top: 30px;
    margin-bottom: 96px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  @include variables.mobile {
    width: 358px;
  }

  .input-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;

    .input-label {
      color: variables.$gray-900;
      margin-bottom: 16px;
    }

    .input-alert-message {
      color: variables.$system-error;
      margin-top: 8px;
    }
  }
}