@use "styles/abstracts" as variables;

.edit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 102px;

  @include variables.mobile {
    padding-top: 82px;
  }

  @include variables.desktop {
    padding-top: 148px;
  }

  .edit-page-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include variables.mobile {
      width: calc(100vw - 32px);
      margin-top: 60px;
    }

    @include variables.desktop {
      width: 380px;
      margin-top: 80px;
    }

    .edit-page-edit-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 48px;
    }

    .edit-page-input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 380px;
      margin-bottom: 8px;

      .edit-page-input-label {
        color: variables.$gray-900;
      }
    }

    .edit-page-category-wrapper {
      width: 100%;
    }
  }

  .edit-page-input-alert-message {
    color: variables.$system-error;
  }
}