@use "styles/abstracts" as variables;

.screen-container {
  overflow-x: visible;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

@include variables.mobile {
  .screen-container {
    max-width: 100%;
    width: 100%;
  }
}
