@use "assets/css/index.scss";

.indicator-container {
    display: flex;
}

.indicator-container .indicator {
    width: 50px;
    height: 4px;
    background: index.$gray-100;
    background-repeat: no-repeat;
    background-image: linear-gradient(index.$gray-600 0%, index.$gray-600 100%);
    background-size: 0% 100%;

    transition: background-size .4s ease;


    &+.indicator {
        margin-left: 6px;
    }

    &.active {
        background-size: 100% 100%;
    }

    &.activated {
        background-size: 100% 100%;
        transition: background-size 0s ease;

    }

}