@use "styles/abstracts" as variables;

.video-item-container {
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.8);

    .thumbnail-wrapper .video-thumbnail {
      visibility: 0;
      display: none;

      &.fix {
        display: block;
      }
    }

    .thumbnail-wrapper .youtube-item {
      visibility: 1;
      display: block;
    }
  }

  .thumbnail-wrapper {
    pointer-events: none;
    position: relative;

    .youtube-item {
      position: absolute;
      visibility: 0;
      display: none;
    }

    .video-thumbnail {
      width: auto;
      height: 158px;
      position: absolute;
      visibility: 1;
      display: block;
    }
  }

  .video-info-container {
    width: 100%;
    background: variables.$gray-50;
    padding: 24px 12px 24px 12px;
    margin-top: -2.5px;
    pointer-events: none;

    .video-title {
      color: variables.$gray-900;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 8px;
    }

    .video-emotion-container {
      display: flex;

      .video-emoji-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;

        &.small-emoji {
          width: 20px;
          height: 20px;
          font-size: 16px;
          margin-right: 4px;
        }

        &.big-emoji {
          width: 40px;
          height: 40px;
          font-size: 32px;
          margin-right: 12px;
        }

        &.happy {
          background: variables.$category-joyful-basic;
        }

        &.surprise {
          background: variables.$category-surprised-basic;
        }

        &.sad {
          background: variables.$category-sad-basic;
        }

        &.angry {
          background: variables.$category-angry-basic;
        }

        &.neutral {
          background: variables.$category-neutral-basic;
        }
      }

      .video-emotion-data {
        color: variables.$gray-900;
      }
    }

    .video-emotion-data-empty {
      color: variables.$gray-400;
    }
  }
}