@use "styles/abstracts" as variables;

.tutorial-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include variables.desktop {
    align-items: center;
  }

  .tutorial-content {
    display: flex;

    .tutorial-left-container {
      margin-right: 100px;

      .visual-wrapper {
        width: 460px;
        height: 460px;
        background: variables.$gray-50;
        border-radius: 12px;
      }
    }

    .tutorial-right-container {
      width: 352px;

      @include variables.mobile {
        width: calc(100vw - 32px);
        display: flex;
        flex-direction: column;

        .visual-wrapper {
          width: calc(100vw - 32px);
          height: calc(100vw - 64px);
          background: variables.$gray-50;
          border-radius: 12px;
          margin-bottom: 34px;
        }

        .tutorial-mobile-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .step-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: variables.$primary-basic;
        margin-bottom: 24px;

        @include variables.mobile {
          margin-top: 34px;
        }
        @include variables.desktop {
          margin-top: 55px;
        }
      }

      .tutorial-text {
        color: variables.$gray-900;
        margin-bottom: 60px;
        word-break: keep-all;
      }

      .button-container {
        display: flex;
        width: 100%;

        @include variables.mobile {
          position: absolute;
          padding: 4px 16px 8px 16px;
          left: 0px;
          bottom: 21px;
        }

        button + button {
          margin-left: 12px;
        }
      }
    }
  }
}
