@use "styles/abstracts" as variables;

.header-background {
  background: variables.$bg;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;

  @include variables.mobile {
    height: 48px;
  }
  @include variables.desktop {
    height: 92px;
    margin-left: calc(600px - 50vw);
    padding-left: calc(50vw - 600px);
  }
}

.header {
  display: flex;
  background: variables.$bg;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 24px 0px;
  position: fixed;
  top: 0;
  z-index: 998;

  @include variables.mobile {
    width: 100%;
    height: 48px;
    padding: 8px 16px 8px 16px;
  }

  .header-logout-button-mobile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$gray-500;
    height: 32px;
  }

  .header-profile-icon-button {
    background: transparent;
    cursor: pointer;
  }
}
