@use "styles/abstracts" as variables;

.like-button {
  position: relative;
  width: fit-content;
  color: variables.$gray-50;
  background: variables.$gray-100;
  padding: 0px 12px 0px 12px;
  border-radius: 38px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;

  transition: ease all 0.2s;

  &:hover {
    background-color: variables.$gray-200;
  }

  .like-image {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }

  .like-text {
    color: variables.$gray-900;
  }

  &.disabled {
    background: variables.$gray-200 !important;
    cursor: not-allowed;
  }
}