@use "assets/css/index.scss";

.chip {
  position: relative;

  color: index.$gray-900;
  background: index.$gray-50;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s;

  &.category-big {
    padding: 8px 16px 8px 16px;
    height: 39px;
  }

  &.category-small {
    padding: 8px 12px 8px 12px;
    height: 32px;
  }

  &:hover {
    transform: scale(1.2);

    &.all {
      color: index.$gray-50;
      background: index.$gray-900;
    }

    &.happy {
      background: index.$category-joyful-tinted;
      color: index.$gray-900;
    }

    &.surprise {
      background: index.$category-surprised-tinted;
      color: index.$gray-900;
    }

    &.sad {
      background: index.$category-sad-tinted;
      color: index.$gray-900;
    }

    &.angry {
      background: index.$category-angry-tinted;
      color: index.$gray-900;
    }

    &.plus {
      background: index.$gray-100;
    }
  }

  &.selected {
    &.all {
      color: index.$gray-50;
      background: index.$gray-900;
    }

    &.happy {
      background: index.$category-joyful-basic;
      color: index.$gray-900;
    }

    &.surprise {
      background: index.$category-surprised-basic;
      color: index.$gray-900;
    }

    &.sad {
      background: index.$category-sad-basic;
      color: index.$gray-900;
    }

    &.angry {
      background: index.$category-angry-basic;
      color: index.$gray-900;
    }
  }
}

.plus-icon {
  @include index.desktop {
    width: 20px;
    height: 20px;
  }
  @include index.mobile {
    width: 15px;
    height: 15px;
  }
}
