@use "assets/css/index.scss";

.categories-container {
  display: flex;
  flex-wrap: wrap;

  .category-item {
    background: index.$gray-50;
    color: index.$gray-900;
    padding: 8px 16px 8px 16px;
    margin-right: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease all 0.2s;

    &:hover {
      color: index.$gray-900;
      background: index.$primary-02;
    }

    &.selected {
      color: index.$gray-50;
      background: index.$primary-basic;
    }
  }
}