@use "styles/abstracts" as variables;

.categories-container {
  display: flex;
  flex-wrap: wrap;

  .category-item {
    background: variables.$gray-50;
    color: variables.$gray-900;
    padding: 8px 16px 8px 16px;
    margin-right: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease all 0.2s;

    &:hover {
      color: variables.$gray-900;
      background: variables.$primary-02;
    }

    &.selected {
      color: variables.$gray-50;
      background: variables.$primary-basic;
    }
  }
}