@use 'assets/css/index.scss';

.emotion-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;


  &.big {
    width: 24px;
    padding: 4px;
  }

  &.small {
    min-width: 16px;
    width: 16px;
    height: 16px;
    padding: 2px;
  }

  &.happy {
    background: index.$category-joyful-tinted;
  }

  &.surprise {
    background: index.$category-surprised-tinted;
  }

  &.sad {
    background: index.$category-sad-tinted;
  }

  &.angry {
    background: index.$category-angry-tinted;
  }

  &.neutral {
    background: index.$category-neutral-tinted;
  }

  .emotion-emoji {
    &.big {
      font-size: 16px;
      line-height: 16px;
    }

    &.small {
      font-size: 12px;
      line-height: 12px;
    }
  }
}