@use "styles/abstracts" as variables;

.my-page-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 148px;

  @include variables.mobile {
    width: 100vw;
    padding-top: 61px;
    padding-left: 16px;
  }

  @include variables.desktop {
    padding-top: 126px;
    width: calc(50vw + 600px);
  }

  .my-page-user-container {
    display: flex;
    flex-direction: column;

    @include variables.mobile {
      width: calc(100vw - 32px);
    }

    @include variables.desktop {
      width: 1200px;
      flex-direction: column;
    }

    .my-page-user-info-container {
      display: flex;

      @include variables.mobile {
        margin-bottom: 44px;
      }

      @include variables.desktop {
        flex-direction: column;
        margin-bottom: 56px;
      }

      .my-page-user-edit-container {
        display: flex;
        justify-content: space-between;

        @include variables.mobile {
          margin-left: 12px;
        }

        @include variables.desktop {
          margin-top: 20px;
        }

        .my-page-name-wrapper {
          display: flex;
          align-items: center;

          .my-page-username {
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  .my-page-watched-contents-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: -20px;

    @include variables.mobile {
      margin-top: 40px;
    }

    @include variables.desktop {
      margin-top: 56px;
    }

    .my-page-watched-title-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .my-page-title {
        padding-left: 20px;
      }

      .my-page-chip-container {
        display: flex;
        width: 100%;
        overflow-x: auto;

        .my-page-chip-wrapper {
          display: flex;
          white-space: nowrap;
          padding-left: 20px;

          @include variables.mobile {
            padding-top: 24px;
            padding-bottom: 18px;
          }

          @include variables.desktop {
            padding-top: 32px;
            padding-bottom: 16px;
          }

          -ms-overflow-style: none;
          /* 인터넷 익스플로러 */
          scrollbar-width: none;
          /* 파이어폭스 */
        }

        .chip-wrapper::-webkit-scrollbar {
          display: none;
          /* 크롬, 사파리, 오페라, 엣지 */
        }
      }
    }

    .my-page-video-container {
      display: flex;
      overflow-x: auto;
      padding-left: 20px;
      margin-bottom: 88px;

      @include variables.mobile {}

      @include variables.desktop {
        height: 453px;
      }
    }

    .my-page-video-wrapper {
      display: flex;

      @include variables.mobile {
        flex-direction: column;
      }

      @include variables.desktop {
        height: 100%;
        padding-right: calc(50vw - 660px);
        padding-top: 16px;
      }

      .recent-video-item {
        .video-graph-container {
          width: 360px;
          height: 60px;
          padding: 4px;
          background: variables.$gray-50;
          border-radius: 8px;
          margin-top: 8px;
        }
      }

      .my-page-video-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include variables.mobile {
          width: calc(100vw - 16px);
        }

        @include variables.desktop {
          width: 1200px;
        }

        .my-page-video-empty-img {
          @include variables.mobile {
            width: 66px;
            height: 66px;
            margin-top: 20px;
            margin-bottom: 8px;
          }

          @include variables.desktop {
            width: 100px;
            height: 100px;
            margin-top: 30px;
            margin-bottom: 12px;
          }
        }
      }
    }

    // -ms-overflow-style: none; /* 인터넷 익스플로러 */
    // scrollbar-width: none; /* 파이어폭스 */

    // .my-page-video-container::-webkit-scrollbar {
    //   display: none; /* 크롬, 사파리, 오페라, 엣지 */
    // }
  }
}

.my-page-emotion-container {

  .my-page-emotion-graph-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 28px;

    .pie-graph-container {
      width: 320px;
      height: 320px;

      .pie-legend-container {
        display: flex;
        align-items: center;
        margin-top: 12px;
        padding-left: 20px;


        .legend-item-wrapper {
          display: flex;
          align-items: center;
          margin-right: 20px;

          .legend-item-color {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            margin-right: 8px;

            &.happy {
              background: variables.$category-joyful-basic;
            }

            &.sad {
              background: variables.$category-sad-basic;
            }

            &.surprise {
              background: variables.$category-surprised-basic;
            }

            &.angry {
              background: variables.$category-angry-basic;
            }

            &.neutral {
              background: variables.$category-neutral-basic;
            }
          }
        }
      }
    }

    .emotion-time-container {
      display: flex;
      margin-left: 80px;


      .emotion-time-title {
        color: variables.$gray-900;
        margin-right: 60px;
      }

      .emotion-time-text {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: variables.$gray-900;
        margin-bottom: 28px;

        .happy {
          color: variables.$category-joyful-basic;
        }

        .sad {
          color: variables.$category-sad-basic;
        }

        .angry {
          color: variables.$category-angry-basic;
        }

        .surprise {
          color: variables.$category-surprised-basic;
        }

        .neutral {
          color: variables.$category-neutral-basic;

        }
      }
    }


    @include variables.mobile {}

    @include variables.desktop {
      width: 1200px;
      height: 291px;
    }
  }
}