@use "styles/abstracts" as variables;

.admin-page-container {
  padding-top: 158px;
  padding-bottom: 98px;

  .title {
    color: variables.$gray-900;
  }

  .subtitle {
    color: variables.$gray-400;
    margin-top: 12px;
    margin-bottom: 25px;
  }

  .selected-video-container {
    display: flex;
    justify-content: space-evenly;
    height: 340px;

    margin-bottom: 40px;

    .left-container {
      width: 500px;
      height: 320px;
    }
  }

  .request-video-container {
    display: flex;
    flex-wrap: wrap;

    .request-video-item {
      margin-right: 40px;
      margin-bottom: 80px;
    }

    .draft-url-item {
      padding: 4px;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 1px solid variables.$primary-basic;
      border-radius: 4px;
      transition: ease all 0.2s;

      &:hover {
        color: variables.$gray-50;
        background-color: variables.$primary-basic;
        cursor: pointer;
      }

      &.active {
        color: variables.$gray-50;
        background-color: variables.$primary-basic;
        cursor: pointer;
      }
    }
  }
}