// ------------------
// Typography
// ------------------

.font-title-large {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -2%;
}

.font-title-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
}

.font-title-small {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}

.font-title-mini {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
}

.font-body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}

.font-body-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
}

.font-label-large {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
}

.font-label-medium {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
}

.font-label-small {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -2%;
}
